<table class="table table-hover">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let cd of _stockManageService.categoryList">
    <td (click)="populateForm(cd)">{{cd.Code}}</td>
    <td (click)="populateForm(cd)">{{cd.Name}}</td>
    <td>
        <i style="margin-right: 6px;" class="far fa-trash-alt fa-lg text-danger" (click)="populateForm(cd)">Edit</i>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(cd.Id)">Delete</i>
    </td>
   
   
  </tr>
 
</table>
