
<div class="row">
    <div class="container">
        <div class="categoryForm">
          <form #categoryForm="ngForm" autocomplete="off" (submit)="onSubmit(categoryForm)">
            <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="_stockManageService.categoryFormData.Id">
            <div class="form-group">
              <label>Code</label>
              
             
              <input name="Code" #Code="ngModel" [(ngModel)]="_stockManageService.categoryFormData.Code" class="form-control">
             
            </div>
            <div class="form-group">
             <label>Name</label>
             <input name="Name" #Name="ngModel" [(ngModel)]="_stockManageService.categoryFormData.Name" class="form-control">
           </div>
           <button type="submit" class="btn btn-success">Submit</button>
           <input type="button" class="btn btn-danger"  (click)="CloseDropDown()" value="*">
          </form>
           
        </div>
       
</div>

